<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <form [formGroup]="form">
    <div>
        <label for="oldPW">Old Password</label>
        <input id="oldPW" type="text" class="form-control" formControlName="oldPassword">
    </div>
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
        <span *ngIf="oldPassword.errors.required"> Old password required</span>
        <span *ngIf="oldPassword.errors.notValid"> Old password is not valid</span>
    </div>
    <div>
        <label for="newPW">New Password</label>
        <input id="newPW" type="text" class="form-control" formControlName="newPassword">
    </div>
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
        <span *ngIf="newPassword.errors.required"> New password required</span>
    </div>
    <div>
        <label for="confirmPW">Confirm  Password</label>
        <input id="confirmPW" type="text" class="form-control" formControlName="confirmPassword">
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <span *ngIf="confirmPassword.errors.required"> Confirm password required</span>
    </div>
    <div class="alert alert-danger" *ngIf="form.invalid && form.errors.shouldMatch">
        New password and confirm password do not match !!
    </div>
</form> -->